#request-form {
  form {
    h1 {
      color: #272747;
    }

    small {
      color: rgb(255, 0, 0);
    }

    select {
      @media only screen and(max-width: 520px) {
        width: 50%;
      }
    }
  }
}
